.App {
  margin-top: 10%;
  text-align: center;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
}
input {
  width: 2rem;
}

.resultContainer {
  width: 80%;
  font-family: monospace;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.threat {
  color: green;
}

.success {
  color: black;
}

.failure {
  color: gray;
}

.criticalFailure {
  color: red;
}
